.filter {
    color: gold;
    font-weight: bold;
    background: none;
    border: 0;
    font-size: 1em;
    padding: .5em 1em;
    text-transform: inherit;
    cursor: pointer;
}

.filter:hover:not(:disabled) {
    text-decoration: underline;
}

.filter:disabled {
    color: inherit;
    cursor: default;
}
